* {
    text-align: center;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.urbanTitle {
    padding-bottom: 4vw;
}

.urbanSubtitle {
    padding-bottom: 2vw;
}

